<nav class="paging" role="navigation">
	{{#if next}}
	    <a class="older-posts" href="{{page_url next}}">&larr; Older Posts</a>
	{{/if}}
	<span class="page-number">Page {{page}} of {{pages}}</span>
	{{#if prev}}
	    <a class="newer-posts" href="{{page_url prev}}">Newer Posts &rarr;</a>
	{{/if}}
</nav>